.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 60px;
  padding: 0 5%;
  background-color: black;
  /* background-color: #c59c6c; */
  text-decoration: none;
  align-items: center;
  font-size: 20px;
}
.navbar div {
  border: 1px solid red;
}
.link {
  text-decoration: none;
  color: white;
}
.logo {
  flex: 1;
}
.links {
  display: flex;
  justify-content: space-between;
  flex: 4;
}
.account {
  flex: 1;
}
